<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="나만의 항해블로그">
    <meta property="og:description" content="항해99를 하며 나만의 일기를 기록해보세요.">
    <meta property="og:image" content="images/hang.png">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/comment.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>더보기</title>

    <script>
        // 수정 버튼을 눌렀을 때, 기존 작성 내용을 textarea 에 전달합니다.
        // 숨길 버튼을 숨기고, 나타낼 버튼을 나타냅니다.

        function editPost(id) {
            showEdits(id);
            let comment = $(`#${id}-comment`).text().trim();
            $(`#${id}-textarea`).val(comment);
        }

        function showEdits(id) {
            $(`#${id}-editarea`).show();
            $(`#${id}-submit`).show();
            $(`#${id}-delete`).show();

            $(`#${id}-comment`).hide();
            $(`#${id}-edit`).hide();
        }

        //화면이 시작될때 바로 함수를 호출합니다.
        $(document).ready(function () {

            getMessages();
            getComments();
            showLog();
        })

        // 사용자가 내용을 올바르게 입력하였는지 확인합니다.
        function isValidContents(comments) {
            if (comments == '') {
                alert('내용을 입력해주세요');
                return false;
            }
            if (comments.trim().length > 140) {
                alert('공백 포함 140자 이하로 입력해주세요');
                return false;
            }
            return true;
        }


        //stringquery id 값 가져오기
        function searchParam(key) {
            return new URLSearchParams(location.search).get(key);
        }

        //회원가입, 로그인, 로그아웃 가리고 보이기
        function showLog(){
            let userRole = $('#user').val();
            if(userRole == "true") {
                $(`#logout-text`).show();
                $(`#login-text`).hide();
            } else{
                $(`#logout-text`).hide();
                $(`#login-text`).show();
            }
        }

        function home(){
            let userRole = $('#user').val();
            if(userRole == "true") {
                document.location.href='/home';
            } else{
                document.location.href='/';
            }
        }

        //더보기 글 내용 보기
        function getMessages() {

            let my_id = searchParam('id');
            $.ajax({
                type: 'GET',
                url: '/api/blogs/',
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        let blog = response[i];
                        let id = blog.id;
                        let username = blog.username;
                        let title = blog.title;
                        let contents = blog.contents;
                        let date = blog.modifiedAt;
                        let modifiedAt = date.substring(0, 10) + " (" + date.substring(11, 16) + ")";
                        if (my_id == id) {
                            addHTML(id, username, title, contents, modifiedAt);
                        }
                    }
                }
            })
        }

        //더보기 post html 붙이기
        function addHTML(id, username, title, contents, modifiedAt) {
            let tempHtml = `
                <div class="card">
                    <!-- date/username 영역 -->
                    <div class="metadata">
                        <div class="date">
                            ${modifiedAt}
                        </div>
                        <div id="${id}-username" class="username">
                            ${username}
                        </div>
                    </div>

                    <!-- title, contents 조회영역-->
                    <div class="contents">
                        <div id="${id}-title" class="title mytitle">
                            <span>제목 : </span> ${title}
                        </div>
                        <div id="${id}-contents" class="text mytext">
                            <span>내용 : </span> ${contents}
                        </div>
                    </div>

                    <div id="${id}-footer" class="footer">
                        <img src="/images/delete.png" class="icon-delete" alt="" onclick="deleteOne('${id}')">
                    </div>
                </div>`;
            // 2. #cards-box 에 HTML을 붙인다.
            $('#cards-box').append(tempHtml);

            let realuser = $('#username').val();
            if(realuser != username){
                $(`#${id}-footer`).hide();
            }
        }

        //POST한 글 삭제
        function deleteOne(id) {
            $.ajax({
                type: "DELETE",
                url: `/api/blogs/${id}`,
                success: function (response) {
                    alert('메시지 삭제에 성공하였습니다.');
                    document.location.href = '/';
                }
            })
        }

        //댓글 작성 post 하기
        function writeComment() {
            let userid = searchParam('id');
            let username = $('#username').val();
            let comments = $('#comments').val();
            let user_role = $('#user').val();

//비로그인자도 되면 수정하세요~
            if(user_role != "true"){
                alert("로그인이 필요합니다.");
                document.location.href('/user/login');
            }

            if (isValidContents(comments) == false) {
                return;
            }

            let data = {'userid': userid, 'username': username, 'comments': comments};

            $.ajax({
                type: "POST",
                url: "/comments",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert('댓글이 성공적으로 작성되었습니다.');
                    window.location.reload();
                }
            })
        }


        // 댓글을 불러와서 보여줍니다.
        function getComments() {

            $('#comments-box').empty();

            let parmid = searchParam('id');

            $.ajax({
                type: 'GET',
                url: '/api/comments/',
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        let comments = response[i];
                        let id = comments.id;
                        let userid = comments.userid;
                        let username = comments.username;
                        let comment = comments.comments;
                        let date = comments.modifiedAt;
                        let modifiedAt = date.substring(0, 10) + " (" + date.substring(11, 16) + ")";
                        if (userid == parmid) {
                            addHTML2(id, username, comment, modifiedAt);
                        }
                    }
                }
            })
        }

        // 메모 하나를 HTML로 만들어서 body 태그 내 원하는 곳에 붙입니다.
        function addHTML2(id, username, comment, modifiedAt) {
            // 1. HTML 태그를 만듭니다.
            // language=HTML
            let tempHtml = `
                <div class="card">
                    <!-- date/username 영역 -->
                    <div class="metadata">
                        <div class="date">
                            ${modifiedAt}
                        </div>
                        <div id="${id}-username" class="username">
                            ${username}
                        </div>
                    </div>
                    <!-- 댓글 조회 영역-->
                    <div class="contents">
                        <div id="${id}-comment" class="title mytitle">
                            ${comment}
                        </div>
                        <div id="${id}-editarea" class="edit">
                            <textarea id="${id}-textarea" class="te-edit" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                    <!-- 버튼 영역-->
                    <div id="${id}-foot" class="footer myfooter">
                        <img id="${id}-edit" class="icon-start-edit" src="/images/edit.png" alt=""
                             onclick="editPost('${id}')">
                        <img id="${id}-delete" class="icon-delete" src="/images/delete.png" alt=""
                             onclick="deleteComment('${id}')">
                        <img id="${id}-submit" class="icon-end-edit" src="/images/done.png" alt=""
                             onclick="submitEdit('${id}')">
                    </div>
                </div>`;
            // 2. #cards-box 에 HTML을 붙인다.
            $('#comments-box').append(tempHtml);

            let realuser = $('#username').val();
            console.log(realuser, username);
            if(realuser != username){
                $(`#${id}-foot`).hide();
            }
        }

        //댓글 삭제
        function deleteComment(id) {

            if(confirm("정말 삭제하시겠습니까 ?") == true){

                $.ajax({
                    type: "DELETE",
                    url: `/api/comments/${id}`,
                    success: function (response) {
                        alert('댓글 삭제에 성공하였습니다.');
                        window.location.reload();
                    }
                })
            }
            else{
                return ;
            }
        }



        // 댓글 수정
        function submitEdit(id) {
            // 1. 작성 대상 메모의 username과 contents 를 확인합니다.
            let username = $(`#${id}-username`).text().trim();
            let comments = $(`#${id}-textarea`).val().trim();
            let userid = searchParam('id');

            // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
            if (isValidContents(comments) == false) {
                return;
            }

            // 3. 전달할 data JSON으로 만듭니다.
            let data = {'userid':userid, 'username': username, 'comments': comments};

            // 4. PUT /api/memos/{id} 에 data를 전달합니다.
            $.ajax({
                type: "PUT",
                url: `/api/comments/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert('메시지 변경에 성공하였습니다.');
                    window.location.reload();
                }
            });
        }


    </script>


<body>
<div class="header" style="position:relative;">
    <span id="login-text">
        <span style="cursor:pointer;" class="user" onclick="location.href='/user/login'">로그인</span>
        <span style="cursor:pointer;" class="user1" onclick="location.href='/user/signup'">회원가입</span>
    </span>

    <div id="header-title-login-user">
        <span>나만의 항해</span>
    </div>
    <div id="header-title-select-shop">
        이야기를 들려주세요
    </div>
    <img src="/images/bae.png" alt="" width="100px">
    <div>
        <span style="cursor:pointer;" class="click" onclick="home()">HOME</span>
    </div>

    <form id="my_form" method="post" action="/user/logout">
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
    </form>
</div>

<div id="cards-box" class="area-read">
</div>

<div class="area-write">
    <input type="hidden" id="username" th:value="${username}"/>
    <textarea class="field" name="contents" id="comments" cols="50" rows="10" placeholder="댓글을 적어주세요"></textarea>
    <!--            <button class="btn btn-danger" onclick="writePost()">작성하기</button>-->
    <img src="/images/send.png" alt="" onclick="writeComment()">
</div>

<div id="comments-box">
</div>

<input type="hidden" id="user" th:value="${user_role}"/>


</body>
</html>